<div class="news-letter-overlay"></div>
<div class="news-letter-container">
  <div class="wrapper-padding text-center">
    <h2 class="title">Давайте обсудим ваш проект</h2>
  </div>
  <div class="wrapper-padding text-center input-wrapper">
    <!-- Input & Submit-Button -->

    <input
      [(ngModel)]="phoneNumberOrEmail"
      type="text"
      class="form-message form-group"
      placeholder="Номер телефона или Email"
    />
    <button (click)="send()" class="form-button form-group">
      <i class="fa fa-paper-plane"></i>
    </button>
    <!-- /End Input & Submit-Button -->
  </div>
  <div class="wrapper-padding text-center message-wrapper">
    <p class="message">
      Мы с вами свяжемся в ближайшее время, и поможем вам воплотить в жизнь ваш
      проект.
    </p>
  </div>
</div>
