<div class="header-wrapper"><app-header></app-header></div>
<div class="logo-wrapper"><app-big-logo></app-big-logo></div>
<div class="develop-wrapper"><app-development></app-development></div>
<div class="tech-stack-wrapper">
  <app-technologies-used></app-technologies-used>
</div>
<div class="order-develop-wrap">
  <app-order-development></app-order-development>
</div>
<div id="newsletter" class="newsletter-wrapper">
  <app-news-letter></app-news-letter>
</div>
<div class="contacts-wrapper">
  <app-contacts></app-contacts>
</div>
<div class="footer-wrapper">
  <app-footer></app-footer>
</div>
<app-scroll-button></app-scroll-button>
