<div class="container">
  <div class="contacts">
    <div class="contact">
      <a class="icon" href="mailto:info@crocosoft.ru">
        <i class="fa fa-3x fa-envelope"></i>
      </a>
      <p class="link-wrapper">
        <a class="link" href="mailto:info@crocosoft.ru">info@crocosoft.ru</a>
      </p>
    </div>

    <div class="contact">
      <a class="icon" href="tel:+79166044960">
        <i class="fa fa-3x fa-phone"></i>
      </a>
      <p class="link-wrapper">
        <a class="link" href="tel:+79166044960">Телефон 8-916-604-49-60</a>
      </p>
    </div>
  </div>
</div>
