<div class="container-order-develop">
  <div class="wrapper-order-development-title">
    <h2 class="order-development-title">
      Закажите разработку ПО у нас, и вы получите
    </h2>
  </div>
  <div class="order-development-content">
    <div class="padding-wrapper width-content-image">
      <img
        #img
        src="./assets/computer.jpg"
        class="computer-img"
        [class.logo-visible]="logoVisible$ | async"
      />
    </div>
    <div class="padding-wrapper width-content-text">
      <h4 class="order-development-text">
        Полное и профессиональное сопровождение вашего проекта. Отвественный
        контроль качества и гибкие модели сотрудничества. Наши специалисты
        владеют широчайшим спектром технологий, что позволяет нам запускать наши
        приложения в любых операционных системах.
      </h4>
    </div>
  </div>
</div>
