<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Mailchimp</title>
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="path/to/image.jpg">
	<!-- css -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- css -->
	<!-- js -->
	<script src="js/jquery.min.js"></script>
	<!-- js -->
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<!-- fonts -->
</head>
<body data-spy="scroll" data-offset="0" data-target="#theMenu">
	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap inner-menu">
			<h1 class="logo">Mailchimp</h1>
			<a href="../index.html" class="smoothScroll">home</a>
			<a href="stampready.html" class="smoothScroll">stampready</a>
			<a href="mailchimp.html" class="smoothScroll active">Mailchimp</a>
			<a href="campaignmonitor.html" class="smoothScroll">campaignmonitor</a>
			<a href="fonts.html" class="smoothScroll">How to change font</a>
		</div>
		<!-- Menu button -->
		<div id="menuToggle" class="inner-toggle">
			<i class="icon-reorder"></i>
		</div>
	</nav>
	<!-- Menu -->
	<!-- Stampready -->
	<div class="instruction-container">
		<div class="instruction-main-title">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2>MailChimp</h2>
						<!-- <div class="video-ins">
							<a href="https://youtu.be/aSdYET6r4MQ">Video instruction</a>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="instr-sub-title">
						<h3>Mailchimp Integration</h3>
						<p>You can edit this template in Mailchimp editor.</p>
					</div>
					<div class="separate-line" style="margin-top: 17px; margin-bottom: 3px;"></div>
					<div class="instr-sub-title">
						<h4>Structure</h4>
						<p>
							You will find MailChimp-integrated template in <span class="text-high">MainFiles/Mailchimp/Template</span> folder.
							<br/><br/>
							Template named as <span class="text-high">/TemplateName.html</span>. You can upload only this file into Mailchimp editor.
						</p>
					</div>
					<div class="separate-line" style="margin-top: 40px; margin-bottom: 2px"></div>
					<div class="instr-sub-title">
						<h4>Uploading to Mailchimp</h4>
						<p>
							Login or register in Mailchimp. Go to <span class="text-high-link">Templates > Create Template > Code your own</span>. Then choose <span class="text-high-link">Import html</span>. Paste name of your template and browse template from <span class="text-high">MainFiles/MailChimp/Template</span> folder.
						</p>
						<div class="important-info red">
							<p><strong>Attention:</strong>&nbsp;&nbsp;&nbsp;After import finished, don't try to edit template in "Template" section. All you ned is click "Save and exit"!</p>
						</div>
						<p>
							Go to <span class="text-high-link">Campaigns > Create Campaign > Create an email</span>. Paste name of your campaign and click "Begin". Then add or create recipient list and click "Next" in right-bottom corner. After that, fill all fields > click "Next". Go to <span class="text-high-link">Saved templates</span> and choose previously uploaded template.
						</p>
						<div class="important-info red">
							<p><strong>Attention:</strong>&nbsp;&nbsp;&nbsp;In editor you will see only FIRST SECTION, please DON'T PANIC. Hover mouse on it and you will see pop-up button in left-bottom corner. Click on "+" and first section would be duplicated. Then hover mouse on second section. From button drop-down menu choose section name that you need! Thats how mailchimp editor works! You cann add "+", delete "-" or choose another section from drop-down menu.</p>
						</div>
						<div class="important-info red">
							<p><strong>Attention:</strong>&nbsp;&nbsp;&nbsp;Sometimes mailchimp have slow and clunky interface. It's not our fault, and we are not responsible for this! If you have bugs, first of all try to reload browser page, you changes would be saved!</p>
						</div>
						<p>
							After customization you should click to <span class="text-high-link">Preview and Test</span> and test template. You can see mobile view or full page view. Also, you can send test email! You will see how your campaign looks!
						</p>
						<div class="important-info red">
							<p><strong>Attention:</strong>&nbsp;&nbsp;&nbsp;Sometimes, "Save as template" function don't work. Again, we can't fix that bug, we only make "compatible mailchimp templates" and we are not responsible for mailchimp editor!</p>
						</div>
						<p>
							Click <span class="text-high-link">Next</span> and send template.
						</p>
					</div>
					<div class="separate-line" style="margin-top: 45px; margin-bottom: 2px"></div>
					<div class="instr-sub-title">
						<h4>Customisation</h4>
						<p>
							In this editor you can add or replace sections, change background colors, background images, images, titles, text, links, buttons, borders, fonts, etc. Also you can send test email.<br/><br/>
							In editor, in right side you will see tabs with different names. Each tab is corresponds to template section with the same name! Find needed tab, click on it and make changes that you need. <br/>For editin images, text, buttons text, icon - just hover and then click on it!
						</p>
					</div>
				</div>		
			</div>
		</div>
	</div>
	<!-- Stampready -->
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>© 2017 Themescode. All rights reserved.</p>
				</div>	
			</div>
		</div>
	</footer>
	<!-- Footer -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/main.js"></script>
</body>
</html>