<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Stampready</title>
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="path/to/image.jpg">
	<!-- css -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- css -->
	<!-- js -->
	<script src="js/jquery.min.js"></script>
	<!-- js -->
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<!-- fonts -->
</head>
<body data-spy="scroll" data-offset="0" data-target="#theMenu">
	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap inner-menu">
			<h1 class="logo">Stampready</h1>
			<a href="../index.html" class="smoothScroll">home</a>
			<a href="stampready.html" class="smoothScroll active">stampready</a>
			<a href="mailchimp.html" class="smoothScroll">Mailchimp</a>
			<a href="campaignmonitor.html" class="smoothScroll">campaignmonitor</a>
			<a href="fonts.html" class="smoothScroll">How to change font</a>
		</div>
		<!-- Menu button -->
		<div id="menuToggle" class="inner-toggle">
			<i class="icon-reorder"></i>
		</div>
	</nav>
	<!-- Menu -->
	<!-- Stampready -->
	<div class="instruction-container">
		<div class="instruction-main-title">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2>Stampready</h2>
						<div class="video-ins">
							<a href="https://www.youtube.com/watch?v=bFobxdzxTSA">Video instruction</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="instr-sub-title">
						<h3>StampReady Integration</h3>
						<p>You can edit this template in free Stampready builder. All you need is register a free stampready account!</p>
					</div>
					<div class="important-info">
						<p><strong>Attention:</strong>&nbsp;&nbsp;&nbsp;You can use Stampready builder for free! Just make a free account and ignore messages about their pricing plans!</p>
					</div>
					<!-- struct -->
					<div class="separate-line" style="margin-top: 17px; margin-bottom: 3px;"></div>
					<div class="instr-sub-title">
						<h4>Structure</h4>
						<p>
							You will find StampReady-integrated template in <span class="text-high">MainFiles/StampReady</span> folder.
							<br/><br/>
							Template named as <span class="text-high">/TemplateName.zip</span>. You can upload only this file into Stampready builder. If for some reason fol&shy;der doesn't contain this file, and contain just <span class="text-high">/TemplateName</span> folder, just .zip this folder and then upload to stampready! Another folders in <span class="text-high">/MainFiles</span> folder created for another editors!
						</p>
					</div>
					<div class="separate-line" style="margin-top: 40px; margin-bottom: 2px"></div>
					<!-- struct -->
					<!-- uploading -->
					<div class="instr-sub-title">
						<h4>Uploading to StampReady</h4>
						<p>
							Login or register in Stampready. Go to <span class="text-high-link">Campaigns > New Campaign</span> and click <span class="text-high-link">Import template > zip file</span>. <br/><br/>
							Browse template from <span class="text-high">MainFiles/StampReady/</span> folder. When the template loads, click <span class="text-high-link">Use template</span> and then paste template name.
						</p>
					</div>
					<!-- uploading -->
					<!-- cust -->
					<div class="separate-line" style="margin-top: 45px; margin-bottom: 2px"></div>
					<div class="instr-sub-title">
						<h4>Customisation</h4>
						<p>
							In this editor you can darag and drop sections, change background colors, background-images, images, titles, text, links, buttons, borders, etc. Also you can send test email or export template for further use in other email clients.
						</p>
						<div class="important-info red">
						<p><strong>Attention:</strong>&nbsp;&nbsp;&nbsp;Always test your campaigns!
						</div>
					</div>
					<!-- cust -->
					<!-- known bugs -->
					<div class="separate-line" style="margin-top: 36px; margin-bottom: 2px"></div>
					<div class="instr-sub-title">
						<h4 id="bugs">Known bugs</h4>
						<div class="important-info red">
						<p><strong>Attention:</strong>&nbsp;&nbsp;&nbsp;If you have bugs with builder, first of all try to disable browser plugins, such us AdBlock and Grammarly! This plugins may have conflict with builder!</p>
						</div>
					</div>
					<!-- known bugs -->
				</div>		
			</div>
		</div>
	</div>
	<!-- Stampready -->
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>© 2017 Themescode. All rights reserved.</p>
				</div>	
			</div>
		</div>
	</footer>
	<!-- Footer -->

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/main.js"></script>
</body>
</html>