<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Documentation</title>
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content="path/to/image.jpg">
	<!-- css -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Raleway:300,400,500,600,700" rel="stylesheet">
	<link href="assets/css/bootstrap.css" rel="stylesheet">
	<link href="assets/css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<!-- css -->
	<!-- js -->
	<script src="assets/js/jquery.min.js"></script>
	<!-- js -->
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<!-- fonts -->
</head>
<body data-spy="scroll" data-offset="0" data-target="#theMenu">
	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo">ThemesCode</h1>
			<a href="assets/stampready.html" class="smoothScroll">stampready</a>
			<a href="assets/mailchimp.html" class="smoothScroll">Mailchimp</a>
			<a href="assets/campaignmonitor.html" class="smoothScroll">campaignmonitor</a>
			<a href="assets/fonts.html" class="smoothScroll">How to change font</a>
		</div>
		<!-- Menu button -->
		<div id="menuToggle">
			<i class="icon-reorder"></i>
		</div>
	</nav>
	<!-- Menu -->

	<!-- Header -->
	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1>Thank you!</h1>
					<p>Thank you for purchasing our email template. This documentation will help you to understand how work with our templates. If you have any questions that are beyond the scope of this help file, please email us.
					</p>
					<div class="header-button">
						<div class="button-effect"></div>
						<a href="mailto:help.themescode@gmail.com">Email us.</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Header -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/smoothscroll.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>